.block {
    display: flex;
    justify-content: center;
    font-family: Arial;
    align-items: stretch;
}

header {
    align-self: flex-start;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 3px;
}

header .logo {
    align-self: center;
}

.nav-menu,
.tweeter-info {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: stretch;
}

.nav-menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #34ACA7;
    margin-bottom: 40px;
}

.nav-menu a span {
    margin-left: 16px;
    align-self: center;
}

.nav-menu a:hover {
    background: #D9EFEC;
}

.tweeter-info button {
    display: flex;
    align-items: center;
    width: 140px;
    height: 30px;
    color: #34ACA7;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
}

.tweeter-info button:hover {
    background: #D9EFEC;
}

.tweeter-info img {
    height: 13px;
    width: 16px;
    margin-right: 5px;
}

.latest-tweet {
    width: 140px;
}

.tweet-title {
    border-bottom: 1px dashed #E5E5E5;
    padding: 5px 0;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.friendship p {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    color: #000;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.banner .background {
    height: 445px;
    background: no-repeat url(img/baner.png);
    background-size: cover;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
}

.banner .background .banner-share::before {
    margin-bottom: 285px;
}

.banner .background .banner-share {
    width: 272px;
    height: 49px;
    left: 0px;
    top: 285px;
    background: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}

.banner .background .banner-submit {
    width: 487px;
    height: 42px;
    background: #000000;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
}

.tabs {
    display: flex;
    background: #EFF8F7;
    height: 85px;
}

.tabs .tab-item {
    display: flex;
    padding: 0 20px;
    width: 225px;
    height: 100%;
    flex-direction: column;
    font-family: Arial;
    font-weight: normal;
    justify-content: center;
    color: #34ACA7;
}

.tabs .tab-item:hover {
    background: #D9EFEC;
}

.tab-item-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
}

.tab-item-descr {
    font-style: italic;
    font-size: 10px;
    line-height: 19px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.subscribe-form .subscribe-form .mail-logo {
    width: 32px;
    height: 26px;
    background-image: url(/icons/mail-icon.svg);
}